.chatContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'userBox chat'
    'userBox chat'
    'message chat';
}

.userBox {
  grid-area: userBox;
}

.chat {
  grid-area: chat;
}

.message {
  grid-area: message;
}

/* User.jsx Components

/user-UserBox



*/
