@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

#root{
  width: 100%;
  height: 100%;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header{
  height: 50px;
  width: 100%;
  background: #8D80AD;
  margin-bottom: 20px;
}

/* #6200ee */

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

 }

 li{
  list-style-type: none;
  margin: 0;
  padding: 0;

 }

 h1, h2, h3, h4, h5, h6{
   margin: 0;
   padding: 0;
 }

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  
}


/* .chatContainer {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  border: 1px solid white;
  grid-auto-flow: row;
  grid-template-areas:
    'userBox chat'
    'userBox chat'
    'message chat';
  
} */
.chatHeader{
  position: relative;
  height: 75px;
  width: 100px;
  left: 80%;
  top: -20px;
  margin-bottom: 20px;
  /* bottom: 90%;   */
}
.chatContainer {  
  width: 100%;
  border: 0.5px solid white;
  padding: 0 0 10px 0;
}

.chat {
  /* grid-area: chat; */
  /* border: 1px solid white; */
  padding: 20px 40px;
  overflow: scroll;
  height: 50vh;
  /* width: 100%; */
}
/* todo: message box disapears on short vertically screen. need to fix */

.messageContainer {
  /* grid-area: message; */
  /* border: 1px solid white; */
  /* padding: 10px 30px 10px 30px; */
  /* overflow-y: 
  scroll; */
  align-self: end;
  justify-self: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: auto;
  /* padding-bottom: 15px; */
  /* background-color:#6200ee;
  width: 100%;
  height: 100%; */
  

}

.chat h3{
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.chat h5{
  font-size: 18px;
  max-width: 60vw;
  width: auto;
  display: inline-block;
  padding: 4px 8px;
  text-align: left;
  border-radius: 8px;
  /* text-align:right; */
}

.currentUser h5{
  background-color: #99B2DD;
  margin: 3px;
}

.otherUser h5{
  /* background-color: #64F58D; */
  /* background-color: #db605d; */
  background-color: #58bb89;
  margin: 3px;
}

.otherUser{
  text-align: left;
}

.currentUser{
  text-align: right;
  align-self: end;
}

.chatInput{
  width: 75%;
  outline: none;
  height: 25px;
  border: 2px solid #8D80AD;
  background-color: #000;
  /* border: 2px solid white; */
  /* border-radius: 3px; */
  color: white;
  
}

.btn-send{
  /* margin-top: 10px; */
  /* display: block; */
  /* position: relative; */
  /* left: 80% */
  background-color: white;
  height: 25px;
  color: black;
  font-weight: 500;
  
}



/* User.jsx Components

/user-UserBox



*/

Canvas{
  /* display: flex; */
  /* display: block;
  z-index: -1; */
}

.ballContainer{
  /* width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;
  z-index: 1;
  display:flex; */

}
/* 
.usernamecurrentUser {
  position: relative;
  left: -25px;
}

.usernameotherUser {
  position: relative;
  left: 25px;
} */

/* .ballcurrentUser {
  
  height: 40px;
  width: 40px;
  position: relative;
  left: 25px;
}

.ballotherUser {
  float: left;
  position: relative;
  left: -25px;
} */
/* 
.messageYescurrentUser {
  position: relative;
  left: 20px;
}

.messageNocurrentUser {
  position: relative;
  left: -21px;
}

.messageYesotherUser {
  position: relative;
  left: -20px;
}

.messageNootherUser {
  position: relative;
  left: 21px;
} */